{{ define "main" }}


    <div class="container markdown top-pad">
        {{ with .Resources.ByType "image" }}
        
    <div class="has-text-centered">
      <div class="gallery-container" id="animated-thumbnails-gallery">
          {{ range sort . "Params.weight" }}
          
              
          
              {{ $image := .Resize "1000x" }}
              
              
              {{/* Get the image filename to use as the zoomed in image description */}}
              {{ $pathSplit := path.Split $image }}
              {{ $fileNameWithoutExtension := $pathSplit.File }}
              {{ $fileNameWithoutExtension := replace $fileNameWithoutExtension ".jpg" "" }}
              {{ $fileNameWithoutExtension := replace $fileNameWithoutExtension ".jpeg" "" }}
              {{ $fileNameWithoutExtension := replace $fileNameWithoutExtension ".png" "" }}
              
              
              
              <a data-lg-size="1600-1067" class="gallery-item" data-src="{{ $image.RelPermalink }}" data-sub-html="<h4>{{ $fileNameWithoutExtension }}</a></h4><p></p>">
                <img alt="{{ $fileNameWithoutExtension }}" class="img-responsive" src="{{ $image.RelPermalink }}" />
              </a>
                  
          {{ end }}
      </div>
    </div>        
        {{ end }}
        {{ .Content }}
    </div>
    <!-- End post content -->
    {{ partial "comments.html" . }}
{{ end }}

{{ define "customCSS" }}
{{ partial "css/lightgallery.html" . }}
{{ end }}

{{ define "customScripts" }}
{{ partial "js/lightgallery.html" . }}
{{ end }}
