$family-sans-serif: Nunito Sans, sans-serif
$family-monospace: monospace
$code: $primary
$title-weight: 300
$navbar-background-color: $background
$navbar-item-hover-background-color: $background
$navbar-item-hover-color: $secondary

span.alignright 
    float: right;
    margin-left: 24px;

span.alignright img
    margin-bottom: 0;
